/**
* @name Yoshinon
* @author Amihsorih
* @version 1.0
* @description I wanna ecchi with Yoshinon
*/


:root {
  background-image: url("file:///"C:\Users\hkmas\Pictures\yoshino.png"");
  background-size: cover;
  background-position: center;
}
