/**
* @name Yoshinon
* @author Amihsorih
* @version 1.0
* @description I wanna ecchi with Yoshinon
*/


:root {
  background-image: url("https://raw.githubusercontent.com/amihsorih/yoshinon-theme/main/Yoshino.png");
  background-size: cover;
  background-position: center;
}
